@font-face {
  font-family: "DIN_Light";
  src: url("../font/FF_DIN_Light.otf");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #1c1c1c;
  color: #777777;

  font-family: "DIN_Light";
  font-size: 1em;
}

a,
a:active,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

.bg-light {
  background: #232323;
}

.text-white {
  color: white;
}

h1 {
  color: white;
}
