#start {
    background: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
    top: 3.5em;
    margin: auto;
    width: 60%;
    height: 100%;
  }